/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/public-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/public-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/public-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/public-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/public-sans-v14-latin-regular.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/public-sans-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/public-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/public-sans-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/public-sans-v14-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/public-sans-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/public-sans-v14-latin-700.svg#PublicSans') format('svg'); /* Legacy iOS */
}

:root {
  /* --header-bg-color: #fff; */
  /* --main-bg-color: #fff; */
  /* main-text-color: #fff; */
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}